{% extends "main/base.html" %}

{% block main_body %}
    {% if error is True %}
        <div class="error_message">
            <h2>Error</h2>
            <p><em>{{ error_message }}</em></p>
        </div>
        {% if back_to_settings is True %}
            <a href="{% url 'CRUD' account_type='coordinator' %}">Back</a>
        {% else %}
            <a href="{% url 'home' %}">Back</a>
        {% endif %}
    {% else %}
        <div class="error_message">
            <h2>Error 404: Page</h2>
            <p><em>Sorry, the page you are looking for does not exist.</em></p>
        </div>
        <a href="{% url 'home' %}">Back</a>
    {% endif %}
{% endblock %}