{% extends "main/base.html" %}

{% block page_title%}Admin Thesis Management{% endblock %}

{% block main_body %}
    <div class="admin-settings-container">
        <h1 class="admin-setting-introduction">Hello {{ user.username|title }}!</h1>
        {% if user.account_type == 'unit coordinator'  or user.account_type == 'admin' %}
            <p class="welcome-description">Welcome to the admin settings. </p>
            <section>
                <h3 class="setting-header"><strong>Thesis:</strong></h3>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'create_data' %}"><strong>Add Thesis</strong></a>
                    <p class="setting-description">-  Create a new thesis in the database.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'modify' %}"><strong>Modify Thesis</strong></a>
                    <p class="setting-description">-  Modify existing thesis details.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'delete_data' %}"><strong>Delete Thesis</strong></a>
                    <p class="setting-description">-  Delete existing thesis in the database.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'review_request' %}"><strong>Review Requests</strong></a>
                    <p class="setting-description">-  Review creation, modification, or deletion of thesis requests made by supervisors.</p>
                </div>
                <hr class="line-settings">
                <h3 class="setting-header">Campus:</h3>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'crud_entity' crud_action_entity='add' entity='campus' %}"><strong>Add Campus</strong></a>
                    <p class="setting-description">-  Add campus in the database.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'crud_entity' crud_action_entity='modify' entity='campus' %}"><strong>Modify Campus</strong></a>
                    <p class="setting-description">-  Modify existing information of campus.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'crud_entity' crud_action_entity='add' entity='campus' %}"><strong>Delete Campus</strong></a>
                    <p class="setting-description">-  Delete existing campus in the database.</p>
                </div>
                <hr class="line-settings">
                <h3 class="setting-header">Category:</h3>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'crud_entity' crud_action_entity='add' entity='category' %}"><strong>Add Category</strong></a>
                    <p class="setting-description">-  Add category in the database.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'crud_entity' crud_action_entity='modify' entity='category' %}"><strong>Modify Category</strong></a>
                    <p class="setting-description">-  Modify existing information of category.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'crud_entity' crud_action_entity='add' entity='category' %}"><strong>Delete Category</strong></a>
                    <p class="setting-description">-  Delete existing category in the database.</p>
                </div>
                <hr class="line-settings">
                <h3 class="setting-header">Course:</h3>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'crud_entity' crud_action_entity='add' entity='course' %}"><strong>Add Course</strong></a>
                    <p class="setting-description">-  Add course in the database.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'crud_entity' crud_action_entity='modify' entity='course' %}"><strong>Modify Course</strong></a>
                    <p class="setting-description">-  Modify existing information of course.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'crud_entity' crud_action_entity='add' entity='course' %}"><strong>Delete Course</strong></a>
                    <p class="setting-description">-  Delete existing course in the database.</p>
                </div>
                <hr class="line-settings">
                <h3 class="setting-header">Supervisor:</h3>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'crud_entity' crud_action_entity='add' entity='supervisor' %}"><strong>Add Supervisor</strong></a>
                    <p class="setting-description">-  Add supervisors in the database.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'crud_entity' crud_action_entity='modify' entity='supervisor' %}"><strong>Modify Supervisor</strong></a>
                    <p class="setting-description">-  Modify existing information of supervisor.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'crud_entity' crud_action_entity='add' entity='supervisor' %}"><strong>Delete Supervisor</strong></a>
                    <p class="setting-description">-  Delete existing supervisor in the database.</p>
                </div>
            </section>
        {% elif user.account_type == 'supervisor' %}
            <p class="welcome-description">Welcome to the admin settings. Click the which request are you about to make, to be reviewed by the unit coordinator.</p>
            <section>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'create_request' crud_action='create' %}"><strong>Add Thesis</strong></a>
                    <p class="setting-description">-  Request to add new thesis on the database.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'create_request' crud_action='modify' %}"><strong>Edit Thesis</strong></a>
                    <p class="setting-description">-  Request to modify details of existing thesis on the database.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" hr class="line-settings"ef="{% url 'create_request' crud_action='delete' %}"><strong>Delete Thesis</strong></a>
                    <p class="setting-description">-  Request to delete existing thesis on the database.</p>
                </div>
            </section>
            <p class="welcome-description"><em>Note: Unit coordinators will review each request before accepting your change request.</em></p>
        {% endif %}
    </div>
{% endblock %}