{% comment %} 
    THIS CONTAINS THE NAVBAR AND OTHER STUFF THAT WE WILL BE CONSTANTLY
    PRESENT ON OTHER WEBPAGES
{% endcomment %}

<!doctype html>
<html lang="en">
    <head>
        <title>{% block page_title %}{% endblock  %}</title>
        <meta charset="utf-8" />
        <met name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>

    <body>
        <header>
            <h1>{% block header_title %}Welcome to the Thesis Project List{% endblock  %}</h1>
            <nav>
                <a href="{% url 'home'%}">Home</a>
                <a href="{% url 'thesis_list' %}">View Thesis List</a>
                <a href= "#" >Our Group Information</a>
            </nav>
            <p>All students enrolled in a Master Of Information Technology Course at CDU must complete a thesis project</p>
        </header>
        <main>
            {% block main_body %}{% endblock  %}
        </main>

        <footer>
            <p>contact us: University@email.edu.au</p>
        </footer>
    </body>
</html>
