{% extends "main/base.html" %}

{% block page_title %}Create Thesis{% endblock %}

{% block main_body %}
    <h1>Create Data</h1>
    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% if user.account_type == 'unit coordinator' or user.account_type == 'admin' %}
        <a href="{% url 'CRUD' account_type='coordinator' %}" class="back">Return to Settings</a>
    {% elif user.account_type == 'supervisor' %}
        <a href="{% url 'CRUD' account_type='supervisor' %}" class="back">Return to Settings</a>
    {% endif %}
{% endblock %}
