{% extends "main/base.html" %}

{% block page_title%}Admin Thesis Management{% endblock %}

{% block main_body %}
    <div class="admin-settings-container">
        <h1 class="admin-setting-introduction">Hello {{ user.username|title }}!</h1>
        {% if user.account_type == 'unit coordinator'  or user.account_type == 'admin' %}
            <p class="welcome-description">Welcome to the admin settings. </p>
            <section>
                <div class="setting-container">
                    <a class="setting-link" href="{% url 'create_data' %}"><strong>Add thesis</strong></a>
                    <p class="setting-description">-  Create a new thesis in the database.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" href="{% url 'modify' %}"><strong>Edit thesis</strong></a>
                    <p class="setting-description">-  Edit existing thesis details.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" href="{% url 'delete_data' %}"><strong>Delete thesis</strong></a>
                    <p class="setting-description">-  Delete existing thesis in the database.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" href="#"><strong>Review Requests</strong></a>
                    <p class="setting-description">-  Review creation, modification, or deletion of thesis requests made by supervisors.</p>
                </div>
            </section>
        {% elif user.account_type == 'supervisor' %}
            <p class="welcome-description">Welcome to the admin settings. Click the which request are you about to make, to be reviewed by the unit coordinator.</p>
            <section>
                <div class="setting-container">
                    <a class="setting-link" href="{% url 'create_data' %}"><strong>Add Thesis</strong></a>
                    <p class="setting-description">-  Request to add new thesis on the database.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" href="{% url 'modify' %}"><strong>Edit Thesis</strong></a>
                    <p class="setting-description">-  Request to modify details of existing thesis on the database.</p>
                </div>
                <div class="setting-container">
                    <a class="setting-link" href="{% url 'delete_data' %}"><strong>Delete Thesis</strong></a>
                    <p class="setting-description">-  Request to delete existing thesis on the database.</p>
                </div>
            </section>
            <p class="welcome-description"><em>Note: Unit coordinators will review each request before accepting your change request.</em></p>
        {% endif %}
    </div>
{% endblock %}