<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>


</head>
<body>
    <header>
        <h1>Welcome to the Thesis Project List</h1>
    </header>
    <main>
        <ul class="navbar">
            <li>
                <a href=# title="View the Thesis List">Thesis List</a>
            </li>
            <li>
                <a href=# title="Our Group Information">Group Information</a>
            </li>            
        </ul>
        <p>All students enrolled in a Master Of Information Technology Course at CDU must complete a thesis project</p>
    </main>
    <footer>
        <p>contact us: University@email.edu.au</p>
    </footer>
</body>
</html>
