{% extends "main/base.html" %}

{% block main_body %}
    {% if edit_menu is True %}
        <h2>Select Thesis to Modify</h2>
        {% for thesis in thesis %}
            <section class=thesis-modify-container>
                <div class='thesis-title-container'>
                    <h3 class="topic_number">{{ thesis.topic_number }}</h3>
                    <h3>- {{ thesis.title }}</h3>
                </div>
                <p class="thesis-description">{{ thesis.description }}</p>
                <div class="modify-link-alignment">
                    <a class="modify-link" href="{% url 'modify' thesis.topic_number %}">Edit</a>
                </div>
            </section>
            <hr>
        {% endfor %}
    {% else %}
        <h1>Modify Thesis</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Edit</button>
        </form>
    {% endif %}
{% endblock %}