{% extends "main/base.html" %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block main_body %}
    <div class="main_body">
        <h1>Success!</h1>
        <p>You have successfully {{ type }} the following thesis.</p>
        {% if type == 'modified' %}
            {% with thesis.campus.all as campus_list %}
            {% with thesis.course.all as course_list %}
               {% include "main/thesis_details_template.html" %}
            {% endwith %}
            {% endwith %}
            <p>Old Thesis:</p>
            {% with old_thesis_data as thesis %}
            {% with old_campus_list as campus_list %}
            {% with old_course_list as course_list %}
                {% include "main/thesis_details_template.html" %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
        {% elif type == 'deleted' %}
            {% with deleted_thesis as thesis %}
                {% include "main/thesis_details_template.html" %}
            {% endwith %}
        {% else %}
            {% include "main/thesis_details_template.html" %}
        {% endif %}
        {% if user.account_type == 'unit coordinator' or user.account_type == 'admin' %}
            <a href="{% url 'CRUD' account_type='coordinator' %}" class="back">Return to Settings</a>
        {% elif user.account_type == 'supervisor' %}
            <a href="{% url 'CRUD' account_type='supervisor' %}" class="back">Return to Settings</a>
        {% endif %}
    </div>
{% endblock %}
