{% extends "main/base.html" %}

{% block page_title %}Thesis List{% endblock  %}

{% block main_body %}
    <div class="thesis-main-body">
        <div class="left-side">
            <form action="" method="get">
                <legend class="filter">Filter Thesis</legend>
                <div class="supervisor-filter">
                    <p class="filter-type">Supervisor</p>
                    {% for supervisor, count in supervisor_list.items %}
                        <div class="option">
                            <input class='filter-option' type="checkbox" name="supervisor" id="{{ supervisor }}" value="{{ supervisor }}" 
                                {% if supervisor in selected_supervisor %} checked {% endif %}>
                            <label for="{{ supervisor }}">{{ supervisor }}  ({{ count }})</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="campus-filter">
                    <p class="filter-type">Campus</p>
                    {% for campus, count in campus_list.items %}
                        <div class="option">
                            <input class='filter-option' type="checkbox" name="campus" id="{{ campus }}" value="{{ campus }}"
                                {% if campus in selected_campus %} checked {% endif %}>
                            <label for="{{ campus }}">{{ campus }}  ({{ count }})</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="course-filter">
                    <p class="filter-type">Course</p>
                    {% for course, count in course_list.items %}
                        <div class="option">
                            <input class='filter-option' type="checkbox" name="course" id="{{ course }}" value="{{ course }}"
                                {% if course in selected_course %} checked {% endif %}>
                            <label for="{{ course }}">{{ course }}  ({{count}})</label>
                        </div>
                    {% endfor %}
                </div>
                <div class="category-filter">
                    <p class="filter-type">Category</p>
                    {% for category, count in category_list.items %}
                        <div class="option">
                            {% if category == "Cyber Security" %}
                                <input class='filter-option' type="checkbox" name="category" id="CyberSecutity-2" value="{{ category }}"
                                    {% if category in selected_category %} checked  {% endif %}>
                                <label for="CyberSecutity-2">{{ category }}  ({{count}})</label>
                            {% else %}
                                <input class='filter-option' type="checkbox" name="category" id="{{ category }}" value="{{ category }}"
                                    {% if category in selected_category %} checked  {% endif %}>
                                <label for="{{ category }}">{{ category }}  ({{count}})</label>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <button class='filter-submit' type="submit">Filter</button>
            </form>
        </div>
        <div class="right-side">
            <div class='main-body-header'>
                <h2 class="thesis_title">Thesis List</h2>
                <div class='per_page'>
                    <p>Show by:</p>
                    <a href="?items_per_page=5" {% if items_per_page == 5 %}class="active"{% endif %}>5</a>
                    <a href="?items_per_page=10" {% if items_per_page == 10 %}class="active"{% endif %}>10</a>
                    <a href="?items_per_page=20" {% if items_per_page == 20 %}class="active"{% endif %}>20</a>
                    <a href="?items_per_page=50" {% if items_per_page == 50 %}class="active"{% endif %}>50</a>
                </div>
            </div>    

            <ul class ='all_theses'>
                {% for thesis in page_obj %}
                <li class='thesis_block'>
                    <h3><a href= "{% url 'thesis_details' topic_number=thesis.topic_number %}" >{{ thesis.title|title }}</a></h3>
                    {% for number, description in new_description.items %}
                        {% if thesis.topic_number == number %}
                            <p class='description'>{{ description }}</p>
                        {% endif %}
                    {% endfor %}
                    <div class = 'supervisor'>
                        <p class = 'more_info'>Supervisor:</p>
                        <p class='supervisor_name'> {{ thesis.supervisor }}</p>
                    </div>
                </li>
                <hr class="list-line">
                {% endfor %}
            </ul>
            {% if no_thesis is True %}
                <p>Sorry, there are no thesis that exist with that filter.</p> 
            {% else %}
                <div class="thesis-pages">
                    <p class='current'>Showing {{ start_num }} to {{ end_num }} of {{ total_theses }} theses.</p>
                    <form class='quick-links' action="" method="get">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}&items_per_page={{ items_per_page }}{{ filter_supervisor }}{{ filter_course }}{{ filter_category }}{{ filter_campus }}">Previous</a>
                        {% endif %}
                        {% for total_pages in total_pages %}                    
                            <a href="?page={{ total_pages }}&items_per_page={{ items_per_page }}{{ filter_supervisor }}{{ filter_course }}{{ filter_category }}{{ filter_campus }}">{{ total_pages }}</a>
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}&items_per_page={{ items_per_page }}{{ filter_supervisor }}{{ filter_course }}{{ filter_category }}{{ filter_campus }}">Next</a>
                        {% endif %}
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock  %}
