<h2 {% if changed_data.title %}class="thesis_title changed-highlight"
    {% else %}class="thesis_title"{% endif %}>{{ thesis.title|title }}</h2>
{% if request is True  %}

{% else %}
    <div class="date">
        <div class='date-created-container'>
            <p class="more_info_date">Date Created:</p>
            <p class="date_created">{{ thesis.date_created }}</p>
        </div>
        <div class="date-edited-container">
            <p class="more_info_date">Last Edited:</p>
            <p class="date_edited">{{ thesis.last_edited }}</p>
        </div>
    </div><hr>
{% endif %}
<div class="topic_number">
    <p class='more_info'>Topic Number:</p>
    <p>{{ thesis.topic_number }}</p>
</div>
<hr>
<div {% if changed_data.supervisor_id %}class="supervisor changed-highlight"
    {% else %}class="supervisor"{% endif %}> 
    <p class='more_info'>Supervisor:</p>
    <p class='supervisor_name'>{{ thesis.supervisor }}</p>
</div>
<hr>
<div {% if changed_data.description %}class="description_container changed-highlight"
    {% else %}class="description_container"{% endif %}>
    <p class='more_info'>Description:</p>
    <p class='description'>{{ thesis.description }}</p>
</div>
<hr>
<div {% if changed_data.category_id %}class="category changed-highlight"
    {% else %}class="category"{% endif %}> 
    <p class='more_info'>Category:</p>
    <p class='category-info'>{{ thesis.category }}</p>
</div><hr>

<div {% if changed_data.campus %}class="campus changed-highlight"
    {% else %}class="campus"{% endif %}>
    <p class = 'more_info'>Campus:</p>
    <ul class='campus_list'>    
        {% if type == 'modified' or type == 'deleted' or modify is True or delete is True or rejected_thesis_request is True %}
            {% for campus in campus_list %}
                <li class="campus-name">{{ campus }}</li>
            {% endfor %}
        {% else %}
            {% for campus in thesis.campus.all %}
                <li class="campus-name">{{ campus }}</li>
            {% endfor %}
        {% endif %}
    </ul> 
</div><hr>
<div {% if changed_data.course %}class="courses changed-highlight"
    {% else %}class="courses"{% endif %}>
    <p class = 'more_info'>Courses:</p>
    <ul class ='courses_list'>
        {% if type == 'modified' or type == 'deleted' or modify is True  or delete is True or rejected_thesis_request is True %}
            {% for course in course_list %}
                <li class="course-name">{{course}}</li>
            {% endfor %}  
        {% else %}
            {% for course in thesis.course.all %}
                <li class="course-name">{{course}}</li>
            {% endfor %}
        {% endif %}
    </ul>
</div><hr>
<div {% if changed_data.group_taker_limit %}class="group_taker_limit changed-highlight"
    {% else %}class="group_taker_limit"{% endif %}>
    <p class="more_info">Group Limit:</p>
    {% if user.account_type == 'student' or user.is_authenticated is False %}
        {% if group_limit is None or group_limit == 0 %}
            <p>None</p>          
        {% else %}
            <p>{{ accepted_application_count }} out of {{ group_limit }} students currently enrolled.</p>
        {% endif %}
    {% else %}
        {% if group_limit == 0 %}
            <p>None</p> 
        {% else %}
            <p>{{ thesis.group_taker_limit }}</p>
        {% endif %}
    {% endif %}
</div><hr>