{% extends "main/base.html" %}

{% block page_title %}Thesis List{% endblock  %}

{% block main_body %}
    <h1 class='mb-4'>Thesis List</h1>
    <ul class ='all_theses'>
        {% for thesis in theses %}
        <li class='mb-5'>
            {% comment %} <p>Topic Number: {{ thesis.topic_number }} </p> {% endcomment %}
            <h3><a href= "#" >{{ thesis.title|title }}</a></h3> 
            <p>{{ thesis.description }}</p>
            <div class = 'supervisor'>
                <p class = 'more_info m-0'>Supervisor:</p>
                <p class='m-0'> {{ thesis.supervisor }}</p>
            </div>
            <div class = 'campus'>
                <p class = 'more_info'>Campus:</p>
                <ul class='campus_list p-0'>    
                    {% for campus in thesis.campus %}
                        <li>{{ campus }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class='courses'>
                <p class = 'more_info'>Courses:</p>
                <ul class ='courses_list p-0'>
                    {% for course in thesis.course %}
                        <li>{{course}}</li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}

{% endblock  %}