{% extends "main/base.html" %}

{% block main_body %}
    {% if thesis %}
        <ul class='thesis_desc'>
            <li class='thesis_block'>
                <h2>{{ thesis.title|title }}</h2> <hr>
                <p class='more_info'>Topic Number: {{ thesis.topic_number }}</p> <hr>
                <div class='supervisor'> 
                    <p class='more_info'>Supervisor:</p>
                    <p class='supervisor_name'>{{ thesis.supervisor }}</p>
                </div><hr>
                <p class='more_info'>Description:</p>
                <p class='description'>{{ thesis.description }}</p> <hr>

                <div class='supervisor'> 
                    <p class='more_info'>Course:</p>
                    <p class='category'>{{ thesis.category }}</p>
                </div><hr>
    
            </li>
        </ul>
    {% else %}
        <div class = "error_message">
            <p>{{ error_message }}</p>
        </div>
    {% endif %}
    <div class="go_back">
        <form method="post" action="{% url 'previous_page' %}">
            {% csrf_token %}
            <input type="hidden" name="previous_page" value="{{ request.META.HTTP_REFERER }}">
            <button type="submit">Go Back</button>
        </form>
    </div>
{% endblock %}

