{% extends "main/base.html" %}

{% block page_title %}{{ thesis.title|title }}{% endblock %}

{% block main_body %}
    {% if thesis %} 
        <ul class='thesis_desc'>
            <li class='thesis_block'>
                <h2 class="thesis_title">{{ thesis.title|title }}</h2>
                <div class="date">
                    <div class='date-created-container'>
                        <p class="more_info_date">Date Created:</p>
                        <p class="date_created">{{ thesis.date_created }}</p>
                    </div>
                    <div class="date-edited-container">
                        <p class="more_info_date">Last Edited:</p>
                        <p class="date_edited">{{ thesis.last_edited }}</p>
                    </div>
                </div><hr>
                <div class="topic_number">
                    <p class='more_info'>Topic Number:</p>
                    <p>{{ thesis.topic_number }}</p>
                </div>
                <hr>
                <div class='supervisor'> 
                    <p class='more_info'>Supervisor:</p>
                    <p class='supervisor_name'>{{ thesis.supervisor }}</p>
                </div>
                <hr>
                <div class="description_container">
                    <p class='more_info'>Description:</p>
                    <p class='description'>{{ thesis.description }}</p>
                </div>
                <hr>
                <div class='supervisor'> 
                    <p class='more_info'>Category:</p>
                    <p class='category'>{{ thesis.category }}</p>
                </div><hr>
                
                <div class = 'campus'>
                    <p class = 'more_info'>Campus:</p>
                    <ul class='campus_list'>    
                        {% for campus in thesis.campus.all %}
                            <li class="campus-name">{{ campus }}</li>
                        {% endfor %}
                    </ul>
                </div><hr>
                <div class='courses'>
                    <p class = 'more_info'>Courses:</p>
                    <ul class ='courses_list'>
                        {% for course in thesis.course.all %}
                            <li class="course-name">{{course}}</li>
                        {% endfor %}
                    </ul>
                </div><hr>
            </li>
        </ul>
    {% else %}
        <div class="error_message">
            <h2>{{ error_message }}</h2>
            <p><em>Please input a valid thesis number and try again.</em></p>
        </div>
    {% endif %}

    <div class="bottom-options">
        <div class="crud-bottom-options">
            {% if user.account_type == 'admin' or user.account_type == 'unit coordinator' %}
                <a href="{% url 'modify' thesis.topic_number %}">Edit</a>
                <a href="{% url 'delete_data' thesis.topic_number %}">Delete</a>
            {% elif user.account_type == 'supervisor' %}
                <a href="{% url 'modify' thesis.topic_number %}">Edit</a>
                <a href="{% url 'delete_data' thesis.topic_number %}">Delete</a>
            {% endif %}
        </div>

        <form method="post" action="{% url 'thesis_list' %}">
            {% csrf_token %}
            <input type="hidden" name="thesis-list" value="{% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}/{% endif %}">
            <button type="submit">Back to Thesis List</button>
        </form>
    </div>
    <div class="other_thesis">
        <h3>See other Thesis</h3>
        <ul class='all_theses'>
            {% for thesis in random_theses %}
                <li class='other_thesis_title'>
                    <p class="recommendations"><a href="{% url 'thesis_details' topic_number=thesis.topic_number %}">{{ thesis.title|title }}</a></p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
