* {
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Arial', sans-serif;
}

.nav_container{
    display: flex;
    justify-content: flex-end;
}

.all_theses{
    list-style-type: none;
}

.nav_container a{
    padding-left: 50px;
}

.main_body, .heading, .contact{
    width: 50%;
    margin: auto;
    min-width: 800px;
}

.campus, .campus_list{
    display: flex;
}

.campus{
    margin: 16px 0;
}

.more_info{
    font-weight: 500;
    padding-right: 15px;
}

.campus_list li{
    padding:0 10px;
    margin-right: 15px;
    list-style-type: none;
    background-color: rgb(219, 219, 219);
    border-radius: 15px;
}

.supervisor{
    display: flex;
}

.courses{
    display: flex;
}

.courses li{
    list-style-type: none;
    margin-right: 15px;
    margin-bottom: 16px;
    padding: 0 10px;
    background-color: rgb(219, 219, 219);
    border-radius: 15px;
}

.courses_list{
    display: flex;
    flex-wrap: wrap;
}

.heading h1{
    font-family: 'Tahoma', sans-serif;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.header_sub{
    text-align: center;
    margin-bottom: 30px;
}

header{
    padding: 50px 0 75px 0;
}

.main_body h2{
    font-family: 'Verdana', sans-serif;    
    font-size: 30px;
    margin-bottom: 30px;
}

a{
    text-decoration: none;
}

.main_body h3{
    font-family: 'Tahoma', sans-serif; 
    font-weight: lighter;
    font-size: 23px;
    margin-bottom: 15px;
}

.description{
    line-height: 1.3;
    margin-bottom: 20px;
}

.thesis_block{
    margin-bottom: 20px;
}