@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    font-family: 'Roboto';
    --primary-color: #e6e6e6;
    --secondary-color: #4dbabb;
    --font-primary: black;
    --font-secondary: rgb(2, 76, 79);
}

* {
    margin: 0;
    padding: 0;
}

.nav_container{
    display: flex;
    justify-content: flex-end;
}

.all_theses{
    list-style-type: none;
    
}

.nav_container a{
    padding-left: 50px;
    color: var(--font-secondary);
}

.main_body, .heading, .contact{
    width: 50%;
    margin: auto;
    min-width: 800px;
}

.campus, .campus_list{
    display: flex;
}

.campus{
    margin: 16px 0;
}



.campus_list li{
    padding:0 10px;
    margin-right: 15px;
    list-style-type: none;
    background-color: var(--primary-color);
    border-radius: 15px;
}

.supervisor{
    display: flex;
}

.courses{
    display: flex;
}

.courses li{
    list-style-type: none;
    margin-right: 15px;
    margin-bottom: 16px;
    padding: 0 10px;
    background-color: var(--primary-color);
    border-radius: 15px;
}

.courses_list{
    display: flex;
    flex-wrap: wrap;
}

.heading h1{
    font-weight: bolder;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--font-primary);
}

.header_sub{
    text-align: center;
    margin-bottom: 30px;
}

header{
    padding: 50px 0 75px 0;
    margin: 0 0 25px 0;
    background-image: linear-gradient(var(--secondary-color), white);
}

.main_body h2{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color:var(--font-secondary);
}

.main_body h3{
    font-weight: 500;
    font-size: 23px;
    margin-bottom: 15px;
}

.description{
    line-height: 2;
    margin-bottom: 20px;
    color: var(--font-primary);
}

.header{
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    justify-content: space-between;

    .thesis_title{
        font-weight: bold;
        margin-bottom: 0px;
        color: var(--font-primary);
        line-height: 1;
    }

    .per_page{
        display: flex;
        gap: 1rem;
    }
}
.thesis_desc{
    list-style-type: none;
    margin-bottom: 60px;
    line-height: 3;
    margin-bottom: 20px;
    color: var(--font-primary);


}

.more_info{
    font-weight: 500;
    padding-right: 30px;
    color: var(--font-primary);
}

.error_message{
    padding: 50px;
    font-size: 20px;
    color: var(--font-primary);
}

.thesis_block{
    margin-bottom: 60px;
}

footer{
    margin: 10rem 0 5rem 0;
}

.back-button, .filter-submit{
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.thesis-pages{
    display: flex;
    justify-content: space-between;

    .quick-links{
        gap: 2rem;
        display: flex;
    }
}

.thesis-main-body{
    display: flex;
    justify-content: space-between;

    .left-side{
        width: 20%;

        form{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        legend{
            font-size: 1.2rem;
            font-weight: bold;
        }

        .supervisor-filter, .campus-filter, .course-filter, .category-filter{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            font-weight: 500;
        }

        .supervisor-option, .campus-option, .course-option, .category-option{
            display: flex;
            gap: 1rem;
            align-items: flex-start;
            font-weight: normal;
        }
    }

    .right-side{
        width: 70%;
    }
}